@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Carter+One&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Lobster&family=Mina:wght@400;700&family=Nabla:EDPT,EHLT@99,4&family=Nosifer&family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Racing+Sans+One&family=Rationale&family=Zen+Dots&display=swap');
.app{
  padding: 0px;
  margin: 0px;
  font-family: "Poltawski Nowy", serif;

}
